@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,800;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

:root {
  font-size: 10px;
  font-family: "papyrus", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

.sec-padding {
  padding: 4rem 0; /* Reduced padding */
}

.section-heading {
  font-size: 3.5rem;
  font-family: "Banana Yeti", Banana Yeti;
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
  padding: 2rem 0; /* Adjusted to reduce space */
  text-align: center;
}

.sec-content-div {
  font-size: 2rem;
  text-align: start;
  padding: 0 2rem 5rem 2rem;
  width: auto;
  justify-content: space-around;
  max-width: 100rem;
  margin: 0 auto;
}

.flexible {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.tile {
  flex: 1 1 25rem;
  max-width: 30rem;
  margin: 1.5rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 0.5rem;
  background-color: #fafafa;
  transition: all 0.2s;
  padding: 1.5rem;
}

.tile img {
  width: 100%;
  max-width: 48rem;
  border-radius: 0.5rem;
}

.tile h4 {
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem 0;
  color: #e23d3d;
  margin: 0;
}

.tile p {
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
}

.tile:hover {
  transform: scale(1.05);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.19), 0 16px 16px rgba(0, 0, 0, 0.23);
}

@media (max-width: 768px) {
  .tile {
    flex: 1 1 100%; /* Full width on smaller screens */
    max-width: 100%;
  }
}

@media (max-width: 800px) {
  .section-heading {
    font-size: 2rem;
  }

  .sec-content-div {
    font-size: 1.6rem;
  }
}

@media (max-width: 475px) {
  .nav-link {
    margin: 0 0.2rem;
    padding: 0 0.2rem;
    font-size: 1.2rem;
  }
}

.search-bar {
  width: 100%;
  max-width: 300px;
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid #dfb5bf; /* Matches your preferred background color */
  border-radius: 25px;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.search-bar:focus {
  border-color: #ffd700; /* Gold color for the focus effect */
  box-shadow: 0 0 8px rgba(255, 215, 0, 0.6); /* Soft shadow in gold */
}

/* Button Styles */
button {
  background-color: white;
  color: black;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1.2rem 2.4rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #3b5998;
  transform: translateY(-2px);
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(76, 175, 80, 0.5);
}

button:active {
  background-color: white;
  transform: translateY(1px);
}

button + button {
  margin-left: 1.5rem; /* Space between buttons */
}

/* Add New Recipe Button */
#addNewRecipeButton {
  background-color: #e23d3d;
}

#addNewRecipeButton:hover {
  background-color: #3b5998;
}

#addNewRecipeButton:active {
  background-color: #a42828;
}
