body {
 background-image: url('foody.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding-top: 20px;
}

/* Profile section as ellipse */
.dropdown a {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px;
}

.dropdown a::before {
  content: "";
  width: 30px;
  height: 30px;
  background-color: #ccc;
  border-radius: 100%;
  margin-right: 10px;
  background-image: url("profile.jpg");
  background-size: cover;
  background-position: center;
}

/* Style the header and navigation */
header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  padding: 10px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 130px;
  height: auto;
  margin-left: 20px;
  border-radius: 200%;
}

header h1 {
  color: White;
  margin: 0;
  font-size: 50px;
}

header nav a {
  color: #344c3d;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
  font-size: 25px;
  font-family: Ubuntu;
}

nav {
  display: flex;
  justify-content: flex-end;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: 0 10px;
  font-weight: bold;
}

nav a:hover {
  background-color: #555;
  border-radius: 4px;
}

/* Dropdown Menu Styles */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: White;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 1.1rem;
}

.dropdown-content a:hover {
  background-color: White;
}

.dropdown-content.show {
  display: block;
}

body {
  padding-top: 60px;
}

/* Welcome Section */
.welcome {
  text-align: center;
  padding: 40px 20px;
}

.welcome h2,
h1 {
  font-family: papyrus;
  font-size: 2.5rem;
  margin-bottom: 35px;

  color: White;
  font-weight: bold;
}
.welcome p {
  font-family: Cinzel;
  font-size: 2rem;
  margin-bottom: 35px;
  color: White;
}

/* Circle Images for Categories */
.categories {
  font-family: papyrus;
  padding: 40px 20px;
  text-align: center;
}

.categories h3 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.category-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}

.category-item {
  text-align: center;
  width: 150px;
}

.category-item img {
  width: 150px; /* You can adjust this size */
  height: 150px; /* Ensure the height and width are equal for a perfect circle */
  object-fit: cover; /* This ensures the image doesn't get distorted */
  border-radius: 50%; /* Makes the image circular */
  margin: 1px; /* Adds spacing between the images */
  transition: transform 0.3s ease; /* Adds a smooth transition effect on hover */
}

.category-item img:hover {
  transform: scale(1.1); /* Slightly enlarges the image on hover */
}
